<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35116782951-dg7r8lij5jead84kmmrabon2ckkvbvrq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35116782951-dg7r8lij5jead84kmmrabon2ckkvbvrq</string>
	<key>API_KEY</key>
	<string>AIzaSyAzdFnMQP76f1_aJxyzE4-44eYNa4tKMz4</string>
	<key>GCM_SENDER_ID</key>
	<string>35116782951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scavengerHunt</string>
	<key>PROJECT_ID</key>
	<string>scavenger-hunt-17fb9</string>
	<key>STORAGE_BUCKET</key>
	<string>scavenger-hunt-17fb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35116782951:ios:189f1b26b960f253724bc2</string>
</dict>
</plist>